<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="header">
    <img src="/images/logo.svg">
    <ol class="progress-bar">
        <li id="eligibility" class="step">
              <span class="label">
                1
              </span>
            <span class="description">Eligibility</span>
        </li>

        <li id="details" class="step active">
              <span class="label">
                2
              </span>
            <span class="description">Details</span>
        </li>

        <li id="payment" class="step">
              <span class="label">
                3
              </span>
            <span class="description">Pay What You Want</span>
        </li>

        <li id="finish" class="step">
              <span class="label">
                4
              </span>
            <span class="description">Finish</span>
        </li>
    </ol>
</div>
<div class="container">
    <div class="form-container">
        <div class="form-header">
            Details
        </div>
        <div class="form-body">
            <form action="/members" method="post">
                <label for="firstName">First name</label>
                <input type="text" name="firstName" id="firstName"/>
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" id="lastName"/>
                <label for="email">Email</label>
                <input type="text" name="email" id="email"/>
                <label for="phoneNumber">Phone number</label>
                <input type="text" name="phoneNumber" id="phoneNumber"/>
                <label for="dateOfBirth">Date of Birth</label>
                <input type="text" name="dateOfBirth" id="dateOfBirth"/>
                Residential Address
                <label for="residentialAddress[address]">Address</label>
                <input type="text" name="residentialAddress[address]" id="residentialAddress[address]"/>
                <label for="residentialAddress[suburb]">Suburb</label>
                <input type="text" name="residentialAddress[suburb]" id="residentialAddress[suburb]"/>
                <label for="residentialAddress[country]">Country</label>
                <input type="text" name="residentialAddress[country]" id="residentialAddress[country]"/>
                <label for="residentialAddress[state]">State</label>
                <input type="text" name="residentialAddress[state]" id="residentialAddress[state]"/>
                <label for="residentialAddress[postcode]">Postcode</label>
                <input type="text" name="residentialAddress[postcode]" id="residentialAddress[postcode]"/>
                Postal Address
                <label for="postalAddress[address]">Address</label>
                <input type="text" name="postalAddress[address]" id="postalAddress[address]"/>
                <label for="postalAddress[suburb]">Suburb</label>
                <input type="text" name="postalAddress[suburb]" id="postalAddress[suburb]"/>
                <label for="postalAddress[country]">Country</label>
                <input type="text" name="postalAddress[country]" id="postalAddress[country]"/>
                <label for="postalAddress[state]">State</label>
                <input type="text" name="postalAddress[state]" id="postalAddress[state]"/>
                <label for="postalAddress[postcode]">Postcode</label>
                <input type="text" name="postalAddress[postcode]" id="postalAddress[postcode]"/>

                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>

