<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="header">
        <img src="/images/logo.svg">
        <ul class="progress-bar">
            <li class="visited">Eligibility</li>
            <li class="active">Details</li>
            <li class="unvisited">Pay What You Want</li>
            <li class="unvisited">Finish</li>
        </ul>
    </div>
    <div class="container">
        <div class="form-container">
            <%- include partials/eligibility.html %>
            <%- include partials/details.html %>
            <%- include partials/payment.html %>
        </div>
    </div>
</body>
<script src="/libraries/jquery-1.11.3.min.js"></script>
<script src="/javascript/new.js"></script>
</html>
