<div id="details-form">
  <h1>Details</h1>
  <div class="form-body">
    <div class="reminder">
      <img src="/images/reminder.svg">
      <div class="reminder-text">
        This information will be used for the purposes of registering a political party with the Australian Electoral Commission. <a href="/">View our Privacy Policy.</a>
      </div>
    </div>
    <div class="heading">
      <h2>Personal Information</h2>
      <i>Please enter your details exactly as they would appear on the electoral roll.</i>
    </div>
    <div class="field-group">
      <label for="firstName">Given Name(s)*</label>
      <input type="text" name="firstName" id="firstName"/>
      <label for="lastName">Surname*</label>
      <input type="text" name="lastName" id="lastName"/>
      <label for="dateOfBirth">Date of Birth*</label>
      <input type="text" name="dateOfBirth" id="dateOfBirth" placeholder="DD/MM/YYYY"/>
      <label for="gender">Gender</label>
      <input type="text" name="gender" id="gender"/>
    </div>
    <div class="heading">
      <h2>Residential Address</h2>
      <i>Please enter the address that you are enrolled to vote from with the AEC.</i>
    </div>
    <div class="field-group">
      <label for="residentialAddress[address]">Address*</label>
      <input type="text" name="residentialAddress[address]" id="residentialAddress[address]"/>
      <label for="residentialAddress[suburb]">Suburb*</label>
      <input type="text" name="residentialAddress[suburb]" id="residentialAddress[suburb]"/>
      <div class="state-code">
        <label for="residentialAddress[state]">State*</label>
        <input type="text" name="residentialAddress[state]" id="residentialAddress[state]"/>
        <label for="residentialAddress[postcode]">Postcode*</label>
        <input type="text" name="residentialAddress[postcode]" id="residentialAddress[postcode]"/>
      </div>
      <input type="checkbox" name="differentPostal" value="true" for="differentPostal"/>My residential address differs from my postal address.
    </div>
    <div id="postal-address">
      <div class="heading">
        <h2>Postal Address</h2>
        <i>Please enter the postal address.</i>
      </div>
      <div class="field-group">
        <input type="text" name="postalAddress[address]" id="postalAddress[address]"/>
        <label for="postalAddress[suburb]">Suburb*</label>
        <input type="text" name="postalAddress[suburb]" id="postalAddress[suburb]"/>
        <div class="state-code">
          <label for="postalAddress[state]">State*</label>
          <input type="text" name="postalAddress[state]" id="postalAddress[state]"/>
          <label for="postalAddress[postcode]">Postcode*</label>
          <input type="text" name="postalAddress[postcode]" id="postalAddress[postcode]"/>
          <label for="postalAddress[address]">Address*</label>
        </div>
      </div>
    </div>
    <div class="heading">
      <h2>Contact Details</h2>
      <i>Please enter your current email and phone number.</i>
    </div>
    <div class="field-group">
      <label for="email">Email*</label>
      <input type="text" name="email" id="email"/>
      <label for="phoneNumber">Phone number*</label>
      <input type="text" name="phoneNumber" id="phoneNumber"/>
      <label for="phoneNumber">Secondary Phone</label>
      <input type="text" name="secondaryPhone" id="secondaryPhone"/>
    </div>
    <div class="navigation">
      <button type="button" class="hidden" id="details-continue-button">Continue</button>
      <p>or <a class="hidden" id="details-go-back">go back</a></p>
    </div>
  </div>
</div>
