<div class="form-container" id="payment-form">
    <h1>Pay What You Want</h1>
    <div class="form-body">
        <div class="reminder">
            <img src="/images/reminder.svg">
            <div class="reminder-text">
              <b>Full Membership</b> of Pirate Party Australia is currently <b>Whatever you want!</b>
            </div>
        </div>
            <div class="contribution">
                <div class="sub-title">Membership Contribution</div>
                <hr>
                <div class="sub-description">Please enter a whole dollar value (minimum $0)</div>
                <div class="contribution-amount">
                    <div class="currency">$AUD</div>
                    <input type="text" name="amount" id="amount">
                </div>
            </div>

            <div class="payment-method">
                <div class="sub-title">Choose a Payment Method</div>
                <hr>
                <div class="sub-description">Pay your selected amount.</div>

                <input type="radio" name="payment-type" value="deposit">Direct Debit.
                <input type="radio" name="payment-type" value="cheque">Pay by Cheque.
            </div>
        <div class="navigation">
            <button type="button" class="hidden" id="payment-continue-button">Continue</button>
            <p>or <a id="payment-go-back" >go back</a></p>
        </div>
    </div>
</div>
</div>
</body>
</html>
