<div id="payment-form">
    <h1>Pay What You Want</h1>
    <div class="form-body">
        <div class="reminder">
            <img src="/images/reminder.svg">
            <div class="reminder-text">
              <b>Full Membership</b> of Pirate Party Australia is currently <b>Whatever you want!</b>
            </div>
        </div>
        <div class="contribution">
            <div class="heading">
                <h2>Membership Contribution</h2>
                <i>Please enter a whole dollar value (minimum $0)</i>
            </div>
            <div class="contribution-amount">
                <div class="currency">$AUD</div>
                <input type="text" name="amount" id="amount">
            </div>
        </div>
        <div class="payment-method">
            <div class="heading">
                <h2>Choose a Payment Method</h2>
                <i>Pay your selected amount.</i>
            </div>
            <div class="field-group">
                <label>
                    <input type="radio" name="paymentType" value="deposit">Direct Debit.
                </label>
                <label>
                    <input type="radio" name="paymentType" value="cheque">Pay by Cheque.
                </label>
            </div>
        </div>
        <div class="navigation">
            <button type="button" class="hidden" id="payment-continue-button">Continue</button>
            <p>or <a id="payment-go-back" >go back</a></p>
        </div>
    </div>
</div>
