/* NOTE: This is the stylesheet for general form input CSS. */


fieldset {
    background-color: #fff;
    border: 1px solid #4da8d4;
}

input,
label,
select {
    display: block;
    font-size: 1em;
}

label {
    font-weight: 600;
    margin-bottom: 0.75em / 2;

    &.required::after {
         content: "*";
    }

    abbr {
        display: none;
    }
}

#{$all-text-inputs},
select[multiple=multiple] {
    background-color: #fff;
    border: 1px solid #4da8d4;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(#000, 0.06);
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    transition: border-color 150ms ease;
    width: 100%;

  &:hover {
    border-color: shade(#4da8d4, 20%);
  }

  &:focus {
    border-color: #477dca;
    outline: none;
  }

  &:disabled {
    background-color: shade(#fff, 5%);
    cursor: not-allowed;

    &:hover {
      border: 1px solid #4da8d4;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.75em / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}
