@import 'bourbon';
@import 'base/base';
@import 'partials/layout';
@import '~bourbon-neat/app/assets/stylesheets/_neat.scss';
@import 'partials/local-variables';
@import 'partials/form';
@import 'partials/progressbar';
@import 'partials/admin';
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);


div.container {
  @include outer-container(100%);
  font-family: 'Noto Sans', sans-serif;
}




