logs
*.log
pids
*.pid
*.seed
node_modules
npm-debug.log
.vagrant
.DS_Store
backend/public
frontend/public/javascript
frontend/public/stylesheets/style.css
.babel-cache
db/dumps
screenshots
*/tmp
# IntelliJ nonsense
.idea
*.iml
