logs
*.log
pids
*.pid
*.seed
node_modules
npm-debug.log
.vagrant
.DS_Store
backend/public
frontend/public/javascript
.babel-cache
db/dumps
screenshots
*/tmp
# IntelliJ nonsense
.idea
*.iml
*.pem
rabblerouser-core.sublime-project
rabblerouser-core.sublime-workspace
