sudo: required

language: node_js
node_js:
  - "8"

services:
  - docker

install: yarn

script: ./go.sh yarn test

after_success:
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then bin/docker-build-and-deploy.sh; fi
