<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.svg">
      <ol class="progress-bar">
        <li id="eligibility" class="step">
          <span class="label">
            1
          </span>
          <span class="description">Eligibility</span>
        </li>

        <li id="details" class="step">
          <span class="label">
            2
          </span>
          <span class="description">Details</span>
        </li>

        <li id="payment" class="step">
          <span class="label">
            3
          </span>
          <span class="description">Pay What You Want</span>
        </li>

        <li id="finish" class="step">
          <span class="label">
            4
          </span>
          <span class="description">Finish</span>
        </li>
      </ol>
    </div>

    <div class="container">
      <div class="title">Eligibility</div>
      <div class="details">
      </div>
    </div>
  </body>
</html>
