extends layout

block content
  h1= title
  fieldset
    legend Details of Applicant
    form(method='post', action='')
      p
        label(for="email") Email
        input(type="text", id="email")
      p
        label(for="name") Name
        input(type="text", id="name")
      p
        label(for="address") Address
        input(type="text", id="address")
      p
        label(for="dob") Date of Birth
        input(type="text", id="dob")
      p
        label(for="phone") Phone Number
        input(type="text", id="phone")
      p
        input(type="submit", value="Join Our Party")
