extends layout

block content
  h1= title
  fieldset
    legend Details of Applicant
    form(method='post', action='')
      p
        label(for="email") Email
        input(type="text", id="email", name="email")
      p
        label(for="firstName") First Name
        input(type="text", id="firstName", name="firstName")
      p
        label(for="lastName") Last Name
        input(type="text", id="lastName", name="lastName")
      p
        label(for="dateOfBirth") Date of Birth
        input(type="text", id="dateOfBirth", name="dateOfBirth")
      p
        label(for="address") Address
        input(type="text", id="address", name="address")
      p
        label(for="country") Country
        input(type="text", id="country", name="country")
      p
        label(for="suburb") Suburb
        input(type="text", id="suburb", name="suburb")
      p
        label(for="state") State
        input(type="text", id="state", name="state")
      p
        label(for="postcode") Postcode
        input(type="text", id="postcode", name="postcode")
      p
        input(type="submit", value="Join Our Party")
