@import 'bourbon';
@import 'base/base';
@import 'partials/layout';
@import 'neat';
@import 'partials/local-variables';
@import 'partials/form';

div.container {
  @include outer-container(100%);
}

.header {
  font-family: 'Open Sans', sans-serif;
  margin: 37px auto 111px;
  position: relative;
  text-align: center;

  img {
    height: 72px;

    @include media($tablet) {
      width: 50%;
    }
  }

  li {
    &:nth-child(1) {
      &::after {
        content: '1';
      }

      &::before {
        display: none;
      }
    }

    &:nth-child(2) {
      &::after {
        content: '2';
      }
    }

    &:nth-child(3) {
      &::after {
        content: '3';
      }
    }

    &:nth-child(4) {
      &::after {
        content: '4';
      }
    }

    &:nth-child(5) {
      &::after {
        content: '5';
      }
    }
  }
}

.progress-bar {
  border-radius: 15px;
  margin: 67px auto;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 100%;

  li {
    color: $grey-darker;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    padding: 0;
    position: relative;
    text-align: center;
    width: 18%;

    @include media($mobile) {
      font-size: 10px;
      width: 25%;

      &::after {
        left: 30%;
      }
    }

    @include media($tablet) {
      font-size: 14px;
      width: 20%;

      &::after {
        left: 30%;
      }
    }

    &::after {
      background: $white;
      border: 4px solid $grey-light;
      border-radius: 50%;
      color: $grey-darker;
      font-size: 16px;
      font-weight: 600;
      height: 45px;
      left: 33%;
      line-height: 36px;
      position: absolute;
      text-align: center;
      top: -52px;
      width: 45px;
      z-index: 99;
    }

    &::before {
      background: $grey-light;
      content: '';
      height: 4px;
      left: -50%;
      position: absolute;
      top: -30px;
      width: 100%;
      z-index: 0;
    }
  }

  .active {
    color: $blue-darker;
    font-weight: bold;

    &::after {
      background: $white;
      border: 5px solid $blue;
      color: $blue;
      z-index: 99999;
     }

    &::before {
      background: linear-gradient(to right, $green, $blue);
    }
  }

  .visited {
    background: $white;
    color: $green-darker;

    &::after {
      background: $white;
      border: 5px solid $green;
      color: $green;
      z-index: 99999;
    }

    &::before {
      background: $green;
    }
  }
}

.active + .unvisited {
  &::before {
    background: linear-gradient(to right, $blue, $grey-light);
  }
}

.hidden {
  display: none;
}
