$black: #000;
$grey-light: #e9ebec;
$grey-darker: #999898;
$green-light: #bfddbf;
$green: #7ad07a;
$green-darker: #61b661;
$white: #fff;
$red: #cc4756;
$labels-headings-color: #666;
$labels-headings-size: 16px;
