/* --------------------------------------------------------------------------------------

   HEADER AND PROGRESS BAR STYLES

-------------------------------------------------------------------------------------- */

#form .header { /* General header styles */
  margin-top: 5px;
  position: relative;
  text-align: center;
  margin-bottom: 40px;

  @include media($mobile) {
      margin-top: 0;
    }

  img {  /* Logo */
    height: 100px;
    margin-top: 10px;

    @include media($mobile) {
      height:auto;

    }
}

button.logout {
  background: none;
  border: none;
  padding: 0.3em;
  color: #062C40;
  border-radius: 0;
  font-weight: normal;
  font-size: 1.1em;
  min-width: 4em;
  margin-left: 1em;
  margin-right: 1em;
}

button.logout:hover {
  text-decoration:underline;
}

 /* Progress bar content */

  li {
    &:nth-child(1) {
      &::after {
        content: '1';
      }

      &::before {
        display: none;
      }
    }

    &:nth-child(2) {
      &::after {
        content: '2';
      }
    }

    &:nth-child(3) {
      &::after {
        content: '3';
      }
    }

    &:nth-child(4) {
      &::after {
        content: '4';
      }
    }

    &:nth-child(5) {
      &::after {
        content: '5';
      }
    }


  }
}

#form .header li.visited:nth-child(1)::after {
  content: '';
}



/* Progress bar styles */

.progress-bar {
  margin-top: 58px;
  text-align:center;


  li {
    color: $grey-darker;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    width: 20%;


    @include media($tablet) {
      font-size: 11px;
    }

    @include media($mobile) {
       line-height: 12px;
    }

    &::after { /* Circles */
      background: $white;
      border: 4px solid $grey-light;
      border-radius: 50%;
      color: $grey-darker;
      font-size: 14px;
      font-weight: 600;
      height: 42px;
      line-height: 34px;
      position: absolute;
      margin-left: -40px;
      top: -52px;
      width: 42px;
      z-index: 99;
      display: inline-block;


         @include media($mobile) {
             height:35px;
             width: 35px;
             top: -45px;
             margin-left: -37px;
             font-size: 11px;
             line-height:28px;
        }
    }


    &::before { /* Background horizontal line */
      background: $grey-light;
      content: '';
      height: 4px;
      left: -50%;
      position: absolute;
      top: -30px;
      width: 100%;
      z-index: 0;
      margin: auto;
    }
  }


  .active {
    color: $blue-darker;
    font-weight: bold;

    &::after {
      background: $white;
      border: 4px solid $blue;
      color: $blue;
      z-index: 99999;
     }

    &::before {
      background: linear-gradient(to right, $green, $blue);
    }
  }

  .visited {
    background: $white;
    color: $green-darker;

    &::after {
      background: $white;
      border: 4px solid $green;
      color: $green;
      z-index: 99999;
    }

    &::before {
      background: $green;
    }
  }
}


.active + .unvisited {
  &::before {
    background: linear-gradient(to right, $blue, $grey-light);
  }
}


/* Tick image for progress bar */
.progress-bar .visited:nth-child(1)::after,
.progress-bar .visited:nth-child(2)::after,
.progress-bar .visited:nth-child(3)::after,
.progress-bar .visited:nth-child(4)::after{
    background-image: url('../../../public/images/Tick.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    content: '';

    @include media($mobile) {
       background-size: 12px 12px;
    }
}

.hidden {
  display: none;
}

/* Responsive text for progress bar */
.progress-bar li span {
        @include media($mobile) {
        font-size: 9px;
       }
}
