{
  "development": {
    "stripe_public_key":"your public stripe key goes here for dev environment",
    "stripe_secret_key":"your secret stripe key goes here for dev environment"
  },
  "test": {
    "stripe_public_key":"your public stripe key goes here, can be same as dev",
    "stripe_secret_key":"your secret stripe key goes here, can be same as dev"
  },
  "staging": {
    "public_key_use_env":"useful if you want to set the public key at runtime, eg STRIPE_PUBLIC_KEY='somekey' npm start",
    "secret_key_use_env":"see above, if this file doesn't exist, assumes using runtime version."
  }
}