/* --------------------------------------------------------------------------------------

   LOGIN SCREEN AND ADMIN DASHBOARD

-------------------------------------------------------------------------------------- */
.login_form,
.admin_dashboard {
    background-color: $blue-light;
    max-width: 350px;
    margin: 10% auto auto;
    padding: 2em;
    border-top: 7px solid $blue-darker;
    text-align: center;
}
.login_form input,
.admin_dashboard input {
    height: 3em;
    width: 100%;
}
.login_body h1 {
    font-size: 20px;
    line-height: 26px;
    color: $blue-darker;
    text-align: center;
}
.admin-button {
    margin-bottom: 10px;
}
.admin_dashboard a {
    text-decoration: underline;
}
.login_body .error {
    border: 1px solid red;
    border-radius: 3px;
    background: #FAD9D9;
    padding: 10px;
    margin: 20px auto;
}
#user-messages {
    li {
        border: 1px solid;
        border-color: $green-darker;
        border-radius: 3px;
        background-color: $green-light;
        padding: 10px;
        margin: 20px auto;
        list-style: none;
    }
    .error {
        border-color: red;
        background: #FAD9D9;
    }
}

button.save {
    appearance: none;
    background-color: #477dca;
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Noto Sans",sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1.5em;
    text-decoration: none;
    transition: background-color 150ms ease;
    user-select: none;
    white-space: nowrap;
}

dd.textblock {
    white-space: pre;
}

/* --------------------------------------------------------------------------------------

   ADMIN HEADER BANNER

-------------------------------------------------------------------------------------- */

header.admin-header {

    background: #0073ae;
    margin: 0;
    padding: 0;
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    display:flex;
    flex-align: center;
    @include media($mobile) {
        flex-direction: column;
        padding: 5px 20px 20px 20px;
    }

    select {
        width: auto;
        flex-grow: 1;
        flex-align: center;
        margin: 0;
        margin-top: 7px;
        font-size: 1em;
    }

    span.currentBranch {
        width: auto;
        flex-grow: 4;
        font-weight: normal;
        flex-align: center;
        padding-top: 13px;
        font-size: 1.2em;
        color: white;
    }

    button.logout {
        width: auto;
        flex-grow: 1;
        flex-align: center;
        color: #fff;
        padding: 0;
        margin: 0;
        display:inline;
        border-radius: 0;
        background: none;
        border: none;
        border-radius: 0;
        font-weight: bold;
        font-size: 1.1em;

        @include media($mobile) {
            text-align: left;
            padding-left: 2px;
            padding-top: 15px;
            margin: 0;
            color: #fff;
            margin-top: 2px;
            font-size: 1em;
        }
    }

    button.logout:hover {
        text-decoration: underline;
    }


    span {
        flex-grow: 4;
        flex-align: center;
        img {
            margin-left: 10px;
            height: 50px;
             @include media($mobile) {
                 margin-left: 0;
            }
        }

    }

}








/* --------------------------------------------------------------------------------------

   GROUP TABS

-------------------------------------------------------------------------------------- */
nav {
    margin-top: 3em;
    width: 98%;
    margin: auto;
    @include media($mobile) {
        width: 98%;
        margin: 15px auto;
    }
}


section#groups-view {
    .select {
        min-width: 200px;
        margin: 0;
        display: inline;
    }
}


/* --------------------------------------------------------------------------------------

   EDIT DETAILS

-------------------------------------------------------------------------------------- */

ul.details-section-selector {
    border-bottom: 1px solid #062C40;
    margin: 0;
    margin-top: 15px;

    @include media($mobile) {
        border: none;
    }

}
ul.details-section-selector li {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1em;
    cursor: pointer;
    color: #062C40;
    @include media($mobile) {
        display: block;
        border-radius: 3px;
        margin-top: 3px;
        padding: 3px;
    }

    span {
        margin: 15px;
    }
}
ul.details-section-selector li:hover {
    background: #062C40;
    color: #fff;
}
ul.details-section-selector li.selected {
    border-top: 1px solid #062C40;
    border-right: 1px solid #062C40;
    border-left: 1px solid #062C40;
    border-bottom: 1px solid #fff;
    cursor: default;
    font-weight: bold;
    @include media($mobile) {
        background: #eee;
        border: none;
    }
}
ul.details-section-selector li.selected:hover {
    color: #062C40;
}

header.details-header {
    display: flex;
    .title {
        flex-grow: 3;
        font-size: 1.1em;
        font-weight: bold;
    }
    .actions {
        flex-grow: 1;
        text-align: right;
        font-size: 0.8em;
        min-width: 60px;
    }
}

/* --------------------------------------------------------------------------------------

   SECRETARY VIEW

-------------------------------------------------------------------------------------- */
.admin-container {
    .admin-section {
        padding: 10px 20px;
        .admin-section {
            padding: 0;
        }
        .admin-section#description {
            padding: 10px;
        }
        h3 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;

        }
    }
    #branchDetails, #organisers, #member-list {
        padding-bottom: 15px;
        border-bottom: 1px dotted #ccc;

    }
    h1 {
        font-size: 1.2em;
    }
    table {
        table-layout: fixed;
        margin-top: 0;

        @include media($mobile) {

        }
    }
    thead {
        @include media($mobile) {
            display: none;
        }

    }
    tr {
        border: none;
        @include media($mobile) {}
    }
    th {
        background-color: $white;
        color: $blue-darker;
        font-size: $labels-headings-size;
        padding: 18px 10px 5px 10px;
        word-wrap: break-word;
        font-weight: normal;
        vertical-align: top;
        font-size: 1em;
        line-height: 1.2em;
        padding-right: 20px;

        @include media($tablet) {
            font-size: 0.8em;
        }
    }
    th:last-child {
        border-right: none;
    }
    th.sort-desc,
    th.sort-asc {
        background: #E6E6E7;
    }
    th.sort-desc:before {
        content: "\f0ab";
        font-family: FontAwesome;
        text-align: right;
        display: block;
        float: right;
        padding-right: 0;
        margin-right: -15px;
    }
    th.sort-asc:before {
        content: "\f0aa";
        font-family: FontAwesome;
        text-align: right;
        display: block;
        float: right;
        padding-right: 0;
        margin-right: -15px;
    }
    th:hover {
        background: #E6E6E7;
        cursor: pointer;
    }
    th:hover:before {
        cursor: pointer;
        content: "\f0ab";
        font-family: FontAwesome;
        text-align: right;
        display: block;
        float: right;
        padding-right: 0;
        margin-right: -15px;
    }
    th.edit:hover {
        background-color: $white;
        cursor: default;
    }
    th.edit:hover:before {
        cursor: default;
        content: none;
        text-align: right;
        display: block;
        float: right;
        padding-right: 0;
        margin-right: -15px;
    }
    th.sort-desc:hover:before {
        cursor: pointer;
        content: "\f0aa";
        font-family: FontAwesome;
        text-align: right;
        display: block;
        float: right;
        padding-right: 0;
        margin-right: -15px;
    }
    tr:nth-child(even) {
        background-color: $white;
    }
    tr:nth-child(odd) {
        background-color: $blue-light;

    }
    tr td:first-child {
        @include media($mobile) {
            font-weight: bold;
            font-size: 0.9em;
            padding: 10px 5px;
        }
    }
    tr td:last-child {
        @include media($mobile) {
            padding-bottom: 10px;
        }
    }
    #member-list th.name, #member-list td:nth-of-type(1), #member-list td:nth-of-type(2) {
        width: 15%;
        @include media($tablet) {
            width: 15%;
        }
        @include media($mobile) {
            width: auto;
        }
    }
    #member-list th.contact, #member-list td:nth-of-type(3) {
        width: 15%;
        @include media($tablet) {
            width: 25%;
        }
        @include media($mobile) {
            width: auto;
        }
    }
    th.date {
        width: 10%;
    }
    th:last-child {
        width: 50px;
    }

    td {
        color: $black;
        text-align: left;
        padding-left: 10px;
        word-wrap: break-word;
        font-size: $body-content-size;
        vertical-align: top;
        @include media($mobile) {
            display: block;
            padding: 0 10px;
        }
    }

    td:nth-of-type(5) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
    }

    td:nth-of-type(5):hover {
        white-space: pre;
        overflow: visible;
        padding-right: 10px;
    }

    td button {
        margin: 0;
    }

    td ul {
        list-style: none;
    }
    td li {
        display: block;
    }
    td dl {
        margin: 0;
    }

    td button:hover {
        background: #062C40;
        color: #fff;
    }
    td button span {
        display: none;
    }

    #organisers th.edit {
        width: 90px;
    }

    .navigation {
        text-align: center;
        margin-top: 20%;
    }
    .verified {
        color: $green;
    }
    .unverified {
        color: $red;
    }
    table a {
        text-decoration: underline;
    }
    .validationErrors {
        margin: auto;
        width: 90%;
        margin-bottom: -3%;
    }
}
aside.no-entries{
    padding: 15px;
    font-size: 14px;
    background-color: $blue-light;
    font-style: italic;
}
/* --------------------------------------------------------------------------------------

   OVERLAYS

-------------------------------------------------------------------------------------- */
.ReactModalPortal .form-container {
    h2 {
        font-size: 1.2em;
    }
    input {
        padding: 8px;
        margin-bottom: 15px;
    }
    input[type="text"] {
        width: 100%;
    }

    input[type="password"] {
        width: 350px;
    }
    textarea {
        height: 200px;
        border: 1px solid #4da8d4;
    }
    textarea.contact{
        height: 100px;
    }

    .selectGroups {
        margin-top: 20px;
        padding: 10px 10px 0;
        border-radius: 3px;
        margin-bottom: 20px;
    }
}
/* --------------------------------------------------------------------------------------

   GROUP DESCRIPTION

-------------------------------------------------------------------------------------- */
#group-details {

    header {
        border: 0;
        border-bottom: 1px;
        border-style: solid
    }

    .select, select {
        display:block;
        margin-top: 20px;
    }

    select {
        margin-bottom: 0;
        font-size: 1em;
    }

    dt {
        font-size: 1.2em;
        margin-bottom: 15px;
        @include media($mobile) {
            display: none;
        }
    }
    dd {
        font-size: 1.1em;
        margin-bottom: 15px;
        @include media($mobile) {
            margin-top: -20px;
        }
    }
}
button {
    background: none;
    color: #0073ae;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1.3em;
    padding: 5px;
    display: inline;
    margin-right: 15px;
}

button.new {
    margin-left: 10px;
    margin-top: 3px;
}


button:hover {
    background: #062C40;
    color: #fff;
}
button span {
    display: none;
}

button.edit:after {
    content: "\f040";
    font-family: FontAwesome;

}

button.delete:after {
    content: "\f1f8";
    font-family: FontAwesome;
}

button.new:after {
    content: "\f067";
    font-family: FontAwesome;
}

dl dt {
    font-weight: normal;
    color: $labels-headings-color;
    font-size: $labels-headings-size;
}

dd {
    margin: 0;
    margin-bottom: 20px;
    font-size: $body-content-size;
}

dd:last-of-type {
    margin-bottom: inherit;
}

td .buttons {
    display: inline;
    margin-left: 10px;

}

td .buttons:nth-of-type(1) {
    @include media($mobile) {
        margin-left: 0;
    }
}
