/* NOTE: This is the stylesheet for the form section ONLY. Progress bar styles are in style.css */


/* --------------------------------------------------------------------------------------

   FORM BACKGROUND STYLES

-------------------------------------------------------------------------------------- */

.form-container section {
    @include fill-parent();
    @include clearfix();
    @include pad(0px 0px 20px 0px);

    border:none;
    background-color: $blue-light;
    color: $blue-darker;



    .form-body {
        @include pad(0 36px default 36px);

        @include media($mobile) {
            @include pad(0 25px default 25px);
        }
    }

    .field-group { /* A group of information under one heading */
            @include span-columns(6);
            @include pad(15px 0px 20px 0px);
            width: 100%;

            @include media($mobile) {
                @include pad(10px 0px 13px 0px);
            }
    }
}

.field-pair {
  @include pad(0px 0px 0px 0px);
  margin-top: 8px;
  .sub-field {
    @include media($desktop) {
      display: inline-block;
      width: 50%;
    }


  }

}


.form-container { /* Form container width */
    @include media($desktop) {
        max-width: 800px;
    }

    @include media($mobile) {
        @include pad();
    }

    margin: 0px auto;
}

.ReactModal__Overlay .form-container section {
    background:none;
    color: #000;

}


/* --------------------------------------------------------------------------------------

   FORM TYPOGRAPHY AND FORM INPUTS

-------------------------------------------------------------------------------------- */

.form-container {

    .form-title { /* Large heading with blue background at the top of the form */
        background: $blue-darker;
        color: $white;
        font-size: 24px;
        font-weight: bold;
        height: 76px;
        line-height: 76px;
        margin-bottom: 10px;
        padding-left: 36px;


    }

    .sub-title { /* Internal form heading, above the divider line */
        border-bottom: 1px solid $blue;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0;
        padding-bottom: 6px;

        @include media($mobile) {
            font-size: 16px;
            line-height:20px;
        }
    }

    .sub-title span {
        @include media($mobile) {
            font-size: 16px;
            line-height:20px;
        }
    }

    .sub-description { /* Smaller description in italics, under the divider line */
        font-size: 14px;
        font-style: italic;
        line-height: 20px;
        padding-top: 6px;

        @include media($mobile) {
            font-size: 11px;
            line-height: 16px;
        }
    }

    .heading { /* .heading is the combination of .sub-title + .sub-description */
        @include span-columns(12);

        padding-top: 20px;
        padding-bottom: 10px;
    }


    span { /* Mobile size of body text */

    }


    a { /* Inline link styles */
        color: $blue-darker;
        font-weight: bold;
        text-decoration: underline;
    }


    a:hover{
        color: #4da8d4;
    }


    label {
        font-weight: normal;
        margin-bottom: 0;
        color: $labels-headings-color;
        font-size: $labels-headings-size;


    }

    fieldset {
        border: none;
        background: none;
        margin: 15px 0px;
        padding: 0;
    }

    fieldset label {
        font-size: 14px;
    }

    fieldset legend {
        padding: 0;
        color: $labels-headings-color;
    }


    input {
        border-color: $blue;
        border-radius: 0;
    }

    aside {
      font-size: 13px;
      font-style: italic;
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .other-field {
      display: inline-block;
      margin-left: 10px;
    }
}


h3 {
  margin: 0;
}

input[type="radio"] {
    margin-top: 15px;
}

select {
    width: 100%;
    border-radius: 0 !important;
    background-color: white;
    height: 2.6em;
    border-color: #4DA8D3;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
    transition: border-color 150ms ease;

    @include media($mobile) {
        font-size:13px;
    }
}

#branchSelection {
  max-width: 250px;
}

input[type="email"] {
  max-width: 350px;
}

input[type="tel"] {
  max-width: 200px;
}

input[type="text"].other-field {
  max-width: 200px;
}

textarea {
  height: 100px;
  @include media($mobile) {
            height: 250px;
        }
}

select::-ms-expand { /* for IE 11 */
    display: none;
}

select { /* Arrow image */
    -webkit-appearance:none;
    -moz-appearance:none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
    padding: .5em;
    padding-right: 1.5em;
    border: 1px solid #4DA8D4;
}

input[type="text"], select {
  max-width: 350px;
}

.ReactModal__Overlay .form-container section fieldset.selectGroups  {
    padding: 0;

}


.ReactModal__Overlay .form-container section .selectGroups label {
    font-size: 16px;

}

.ReactModal__Overlay .form-container section#pastoral-notes  {
    padding-top: 15px;

}






/* --------------------------------------------------------------------------------------

   MEMBERSHIP TYPE INFO BOX

-------------------------------------------------------------------------------------- */

.info-box span{
    @include media($mobile) {
            font-size:11px;
        }
}

.info-box {
    @include span-columns(12);
    background-color: $white;
    border: 2px solid $green;
    margin-bottom: 25px;
    padding: 0 15px;


    .info-heading {
        border-bottom: 1px solid $green;
        color: $green;
        font-weight: bold;
        padding-bottom: 5px;

        @include media($mobile) {
            padding-top:10px;
            font-size:13px;
        }


    h3 {
        @include pad(default 0px 0px 0px);
        margin:0px;
    }


    a {
        color: $green;
        cursor: pointer;
        font-size: 10px;
        font-style: italic;
        font-weight: normal;

        @include media($mobile) {
            font-size:9px;
        }

        .circled { /* Question mark symbol */
            border-radius: 100%;
            background: $green;
            text-align: center;
            padding-left: 3px;
            padding-right: 4px;
            color: $white;
            font-size: 8px;
        }
    }

        a:hover{
            color: #9be29b;

            .circled {
                background: #8bd68b;
            }
        }


    }

    .info-body {
    font-size: 13px;
    padding: 15px 0;

         @include media($mobile) {
            font-size: 11px;
            line-height: 16px;
        }

        ul{
            list-style-type: inherit;
            margin-left: 17px;
            padding-bottom: 10px;
            padding-top: 5px;
        }

        li {
            margin-top: 5px;
        }

        strong {
             color: $green;
        }


    }
}


/* --------------------------------------------------------------------------------------

   MEMBERSHIP EXPLANATION MODAL

-------------------------------------------------------------------------------------- */


.ReactModal__Overlay.ReactModal__Overlay--after-open { /* This prevents the progress bar from being above the modal. */
    z-index:900000;
    overflow:scroll;
}


.ReactModal__Content.ReactModal__Content--after-open{
        max-width: 80%;
        @include media($mobile) {
            max-width: 360px;
        }
        margin: 10px !important;
        top: 0 !important;
        left: 10px !important;
        right: 10px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        transform: none !important;
}


Modal {
    margin-top:30px;
}

.modal-header {
    background: linear-gradient(-180deg, #F5F5F7, #E6E6E7);
    max-width: 360px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
     z-index:9000;
    opacity: .99;


    .close-button {
         height: 24px;
         float:left;
         padding: 10px;
    }

    .box-header {
        border-bottom: 1px solid #CCC;
        padding-bottom: 19px;
        text-align: center;
        margin-top: -20px;

        h2 {
            color: #000;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;

            @include media($mobile) {
                font-size:17px;
            }
        }

        .logo{
            height: 65px;
        }
    }
}


.box-column {  /* This is the explanation row for each membership type. */
    background: #F5F5F5;
    border-bottom: 1px solid #ECEBEB;
    max-width: 360px;
    padding: 0 15px;
    text-align: center;

  h3 {
    color: #0073AE;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 0;
    padding-top: 15px;

    @include media($mobile) {
        font-size:14px;
    }
  }

  h4 {
    color: #008BC0;
    font-size: 12px;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 0;
    padding-bottom: 15px;

    @include media($mobile) {
        font-size:13px;
    }
  }
}


.clickable { /* Transforms cursor into a hand when you hover on the cross */
    cursor: pointer;
}


/* --------------------------------------------------------------------------------------

   INFO BOX AT THE TOP OF THE PAGE

-------------------------------------------------------------------------------------- */


.reminder {
    background: $white;
    border: 3px solid $blue;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-top: 25px;

    > * {
        display: inline-block;
    }

    .reminder-text {
        height: 45px;
        padding-left: 10px;
        width: 80%;
        font-size: 13px;
        vertical-align: middle;
        display: table-cell;
    }

    img {
        width: 48px;
        float: left;

        @include media($mobile) {
            display:none;
        }
    }
}




/* --------------------------------------------------------------------------------------

   TOP ERROR VALIDATION BOX

-------------------------------------------------------------------------------------- */


hr {
    border-bottom: 1px solid $blue;
    margin: 0;
}


.validationErrors {
    background: $white;
    border: 3px solid $red;
    padding: 10px 15px;
    margin: 15px 0px;

  > * {
    display: inline-block;
  }

  .validationErrors-text {
    height: 45px;
    padding-left: 10px;
  }

  .validationErrors-text span {
    color: $red;
    font-weight: bold;
    padding-bottom: 10px;
    font-size:15px;
  }

  .errors {
    font-size: 13px;
    color: $red;
    margin-left: 17px;


    @include media($mobile) {
        font-size:11px;
    }
  }


  img {
    width: 48px;
    float: left;
  }
}



/* --------------------------------------------------------------------------------------

   INLINE VALIDATION

-------------------------------------------------------------------------------------- */

.invalid {
  > input {
    border-color: #cc4756 !important;
  }
  > select {
    border-color: #cc4756 !important;
  }
  .errors {
    display: block;
    color: #CC4756;
    font-size: 11px;
    font-style: italic;
  }
}

.invalid b { /* Makes checkbox declaration red on error */
    color: $red;
}

/* --------------------------------------------------------------------------------------

   BOTTOM NAVIGATION

-------------------------------------------------------------------------------------- */

.navigation {
    @include span-columns(12);

  > * {
    display: inline-block;
  }

  button {
    background-color: $blue-darker;
    border-radius: 0;
    color: $white;
    margin-right: 6px;
    padding-top: 15px;
    padding-bottom: 15px;

    @include media($mobile) {
        font-size:13px;
    }
  }

   button:hover{
    background-color: #4da8d4;
  }

  p {
    height: 40px;
    line-height: 40px;
    margin: 0;

    @include media($mobile) {
        font-size:13px;
    }
  }
}


/* --------------------------------------------------------------------------------------

   CONFIRM PAGE

-------------------------------------------------------------------------------------- */

.declaration { /* This class has been applied to both the declaration box and the check details box */
    float: left;
    width: 100%;
    background: $white;
    border: 3px solid $blue;
    padding: 20px 25px;
    font-size:13px;
    margin-bottom: 25px;
    margin-top: 10px;

    > * {
      display: inline-block;
    }

    .declaration-text {
      color:#0073AE;
    }

    img {
      width: 48px;
      float: left;
    }

    @include media($mobile) {
        font-size: 13px;
    }
}


#checkbox_declaration {
    margin-bottom:15px;
}



/* --------------------------------------------------------------------------------------

   PAYMENT PAGE

-------------------------------------------------------------------------------------- */


#payments {
    padding-top: 0 !important;
}


.info-box.payment{
    margin-bottom: 15px;
}


.contribution-amount {

    .currency {
        background: $blue-darker;
        color: $white;
        float: left;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        padding-left: 3px;
        vertical-align: middle;
        width: 50px;
    }

    input[type="text"] {
        border-bottom-color: $blue;
        border-radius: 0;
        border-right-color: $blue;
        border-top-color: $blue;
        margin: 0;
        vertical-align: middle;
        width: 120px;
        margin-bottom: 30px;
    }
}



/* --------------------------------------------------------------------------------------

   PRIVACY POLICY LINK

-------------------------------------------------------------------------------------- */
.footer {
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    text-align: center;
}


.footer a {
    color: #0073ae;
    padding-bottom: 30px;
    text-decoration: underline;

    @include media($mobile) {
        font-size:13px;
    }
}


.footer a:hover {
    color: #008bc0;
}


.form-container {
    @include media($mobile) {
        margin-bottom: 0;
    }
}
