
{
    "default": {
        "session": {
            "secret": "i'm a teapot",
            "proxy": true,
            "secureCookie": true
        }
    },
    "{{ node_env }}": {
        "username": "{{ db_user }}",
        "password": "{{ db_password }}",
        "database": "project-m",
        "host": "127.0.0.1",
        "dialect": "postgres",
        "session": {
            "secret": "{{ session_secret }}"
        }
    }
}