/* --------------------------------------------------------------------------------------

   LOGIN SCREEN AND ADMIN DASHBOARD

-------------------------------------------------------------------------------------- */

.login_form, .admin_dashboard {
    background-color: $blue-light;
    max-width: 350px;
    margin: auto;
    margin-top: 10%;
    padding: 2em;
    border-top: 7px solid $blue-darker;
    text-align: center;
}


.login_form input, .admin_dashboard input{
    height: 3em;
    width: 100%;
}


.admin_h1{
    font-size: 20px;
    line-height: 26px;
    color: $blue-darker;
    text-align: center;
}


.admin-button {
    margin-bottom: 10px;
}


.admin_dashboard a{
    text-decoration: underline;
}



/* --------------------------------------------------------------------------------------

   GROUP TABS

-------------------------------------------------------------------------------------- */

nav {
  margin-top: 3em;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;

             @include media($mobile) {
          
      width: 98%;
      margin: 15px auto;

      

        }
}

#groups ul {
  border-bottom: 1px solid #062C40;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  padding-left: 20px;

             @include media($mobile) {
          
      
          padding-left: 0px
      

        }
}

#groups li {
  display: inline;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 15px 8px 15px;
  cursor: pointer;
  color: #062C40;

             @include media($mobile) {
          
      
          display:none
      

        }

}

#groups li:hover {
  background: #062C40;
  color: #fff;
}


#groups li.selected {
  border-top: 1px solid #062C40;
  border-right: 1px solid #062C40;
  border-left: 1px solid #062C40;
  border-bottom: 1px solid #fff;
  padding: 10px 15px 9px 15px;
  cursor: default;
  font-weight: bold;

           @include media($mobile) {
          
      
          display:block;
          border: none;
          padding: 5px;
      

        }

}

#groups li.selected:hover {
  background: #fff;
  color: #062C40;

}

#groups li.new {
  float:right;
  margin-top: -10px;
}

.new span {
  text-decoration: underline;
}

#groups li.new button {

  margin: 0;
  padding: 10px 15px 8px 15px;
  cursor: pointer;
  color: #062C40;
  background:none;
  font-weight: normal;
  border-radius: 0;
  font-size: 1em;
  margin-top: -3px;

}

#groups li.new button:hover {
color: #fff;
 background: #062C40;

}

#groups li.new:hover {
  background: none;
  
}


/* --------------------------------------------------------------------------------------

   SECRETARY VIEW

-------------------------------------------------------------------------------------- */

.admin-container {
    h1 {
      font-size:1.2em;
    }

    table {
      table-layout: fixed;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      margin-top: 5%;

                   @include media($mobile) {
          
      width: 98%;
      margin: auto;
      

        }
    }

    thead {

      @include media($mobile) {
            display:none;
        }
    }
    
    tr {
        border: none;
         @include media($mobile) {
      
      

        }
    }

    th {
      background-color:$blue-darker;
      color:$white;
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;  
      padding-top:18px;
      padding-bottom: 18px;
      word-wrap: break-word;
      font-weight:normal;
      vertical-align: top;
      font-size: 1em;
      line-height: 1.2em;
      padding-right: 20px; 
    }


    th:last-child {
      border-right: none;
    }

    th.sort-desc, th.sort-asc {
      font-weight: bold;
      background: #062C40;

    }

    th.sort-desc:before {
      content: "\f0ab";
      font-family: FontAwesome; 
      text-align: right; 
      display:block;
      float:right;
      padding-right: 0px;
      margin-right: -15px;
    }
    
    th.sort-asc:before {
      content: "\f0aa";
      font-family: FontAwesome; 
      text-align: right; 
      display:block;
      float:right;
      padding-right: 0px;
      margin-right: -15px;
    }

    th:hover {
      background: #00476B;
      cursor: pointer;

    }

    th:hover:before {
    
      cursor: pointer;
      content: "\f0ab";
      font-family: FontAwesome; 
      text-align: right; 
      display:block;
      float:right;
      padding-right: 0px;
      margin-right: -15px;
    }

    th.edit:hover {
      background-color:$blue-darker;
      cursor:default;
    }

    th.edit:hover:before {

      cursor: default;
      content: none;

      text-align: right; 
      display:block;
      float:right;
      padding-right: 0px;
      margin-right: -15px;
    }

    th.sort-desc:hover:before {
      cursor: pointer;
      content: "\f0aa";
      font-family: FontAwesome; 
      text-align: right; 
      display:block;
      float:right;
      padding-right: 0px;
      margin-right: -15px;
    }









    tr:nth-child(even) {
      background-color: $white;
    }

    tr:nth-child(odd) {
      background-color: $blue-light;
    }

    tr td:first-child {

      @include media($mobile) {
        font-weight: bold;
        font-size: 0.9em;
        padding: 10px 5px;

        }
   

    }

       tr td:last-child {

      @include media($mobile) {
       
        padding-bottom: 10px;

        }
   

    }



th.notes {
    width: 30%;
}
th.contact {width: 15%;}

.notes, .schooltype {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}



.admin-container td {
  vertical-align: top; 
  font-size: 14px; 
  max-height: 20px;
}


    td {
      color:$blue-darker;
      text-align: left;
      padding-left: 10px;
      word-wrap: break-word;
      font-size: 14px;
      vertical-align:top;
        @include media($mobile) {
            display:block;
            padding: 0px 10px;
        }
    }

    td button {

      background: none;
      color: #0073ae;
      padding: 0;
      margin: 0;
      border: 0;
      font-size: 1.3em;
      padding: 5px;
    }

    td button:hover {

      background: #062C40;
      color: #fff;

    }

    td button span {
      display: none;
    }

      td button:after {
      content: "\f040";
      font-family: FontAwesome; 
    
    }

    .navigation {
      text-align: center;
      margin-top: 20%;
    }

    .verified {
      color: $green;
    }

    .unverified {
      color: $red;
    }
    
    table a {
        text-decoration: underline;
    }

    .validationErrors {
      margin: auto;
      width: 90%;
      margin-bottom: -3%;
    }
}

