
.form-container {
  margin: 25px auto;
  max-width: 800px;

  .form-header {
    background-color: $blue-darker;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
    padding-left: 25px;
  }

  .form-body {
    background-color: $blue-light;
    color: $blue-darker;
    padding: 25px;
  }

  .info-box {
    background-color: $white;
    border: 2px solid $green;
    margin-top: 25px;
    padding: 0 15px;
  }

  .info-box-header {
    border-bottom: 1px solid $green;
    color: $green;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
  }

  .info-box-body {
    font-size: 12px;
    padding: 15px 0;
  }

  input[type="radio"]{
    margin-top: 15px;
  }
}

.sub-title {
  font-size: 1.2em;
  font-weight: bold;
}

.sub-description {
  font-size: .8em;
  font-style: italic;
}

hr {
  border-bottom: 1px solid $blue;
  margin: 0;
}

.reminder {
  background: $white;
  border: 3px solid $blue;
  padding: 10px 15px;

  > * {
    display: inline-block;
  }

  img {
    vertical-align: middle;
  }

  .reminder-text {
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
  }
}

.contribution {
  margin-top: 35px;

  .contribution-amount {
    margin-top: 20px;
  }

  .currency {
    background: $blue-darker;
    color: $white;
    float: left;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding-left: 3px;
    vertical-align: middle;
    width: 50px;
  }

  input[type="text"] {
    border-bottom-color: $blue;
    border-left: 0;
    border-radius: 0;
    border-right-color: $blue;
    border-top-color: $blue;
    margin: 0;
    vertical-align: middle;
    width: 80px;
  }
}

.payment-method {
  margin-top: 35px;
}


.navigation {
  margin-top: 100px;

  > * {
    display: inline-block;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }

  p {
    height: 40px;
    line-height: 40px;
    margin: 0;
  }
}
