.form-container {
  @include media($desktop) {
    max-width: 800px;
  }

  @include media($mobile) {
    @include pad();
  }

  margin: 25px auto;

  h1 {
    background-color: $blue-darker;
    color: $white;
    font-size: 1.5em;
    line-height: 70px;
    padding-left: 1.5em;
    margin: 0;
  }

  .heading {
    @include span-columns(12);

    h2 {
      font-size: 1.2em;
      border-bottom: 1px solid $blue;
      margin-bottom: 0;
    }

    i {
      font-size: .8em;
      margin-bottom: 25px;
    }

    padding-top: 1em;
    padding-bottom: 1em;
  }

  .declaration {
    float: left;
    width: 100%;
    background: $white;
    border: 3px solid $blue;
    padding: 20px 25px;
    font-size:14px;
    margin-bottom: 15px;

    > * {
      display: inline-block;
    }

    .declaration-text {
      color:#0073AE;
    }

    img {
      width: 3em;
      float: left;
    }
  }

  fieldset {
    @include fill-parent();
    @include clearfix();
    @include pad(0px 0px 2em 0px);

    border:none;
    background-color: $blue-light;
    color: $blue-darker;

    .form-body {
      @include pad(0px default default default);
    }

    .field-group {
      @include media($desktop-width) {
        @include span-columns(6);
        @include pad(0px 0px 2em 0px);
      }
    }

    a {
      color: $blue-darker;
      font-weight: bold;
      text-decoration: underline;
    }

    label {
      font-weight: normal;
      margin-bottom: 0;
    }

    input[type="text"] {
      border-color: $blue;
      border-radius: 0;
    }
  }

  .info-box {
    @include span-columns(12);
    background-color: $white;
    border: 2px solid $green;
    margin-top: 25px;
    padding: 0 15px;

    .info-heading {
      border-bottom: 1px solid $green;
      color: $green;
      font-weight: bold;

      h2 {
        @include pad(default 0px 0px 0px);
        margin:0px;
      }

      i {
        font-size: 0.7em;
      }
    }

    .info-body {
      font-size: 12px;
      padding: 15px 0;

      ul {
        list-style-type: inherit;
        margin-left: 17px;
      }
    }
  }

  input[type="radio"] {
    margin-top: 15px;
  }
}

.sub-title {
  font-size: 1.2em;
  font-weight: bold;
}

.sub-description {
  font-size: .8em;
  font-style: italic;
  margin-bottom: 25px;
}

hr {
  border-bottom: 1px solid $blue;
  margin: 0;
}

.validationErrors {
  background: $white;
  border: 3px solid $red;
  padding: 10px 15px;
  margin-top: 15px;

  > * {
    display: inline-block;
  }

  .validationErrors-text {
    height: 45px;
    padding-left: 10px;
    width: 80%;
  }

  .validationErrors-text span {
    color: $red;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .error {
    font-size: .8em;
    color: $red;
  }

  img {
    width: 3em;
    float: left;

  }
}

.reminder {
  background: $white;
  border: 3px solid $blue;
  padding: 10px 15px;

  > * {
    display: inline-block;
  }

  .reminder-text {
    height: 45px;
    padding-left: 10px;
    width: 80%;
  }

  img {
    width: 3em;
    float: left;
  }
}

.contribution {
  .contribution-amount {
    .currency {
      background: $blue-darker;
      color: $white;
      float: left;
      font-weight: bold;
      height: 36px;
      line-height: 36px;
      padding-left: 3px;
      vertical-align: middle;
      width: 50px;
    }

    input[type="text"] {
      border-bottom-color: $blue;
      border-left: 0;
      border-radius: 0;
      border-right-color: $blue;
      border-top-color: $blue;
      margin: 0;
      vertical-align: middle;
      width: 80px;
    }
  }
}

.navigation {
  @include span-columns(12);

  > * {
    display: inline-block;
  }

  button {
    background-color: $blue-darker;
    border-radius: 0;
    color: $white;
  }

  p {
    height: 40px;
    line-height: 40px;
    margin: 0;
  }

  padding-top: 1em;
}
