$active-step-color: #4da8d4;

.header {
  text-align: center;

  img {
    width: 25%;
  }

  .progress-bar {
    list-style: none;
    list-style-image: none;
    white-space: nowrap;
  }
}

.step {
  display: inline-block;
  text-align: center;
  width: 15%;

  .label {
    border: 5px solid $active-step-color;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    width: 50px;

    &::after {
      background: $active-step-color;
      content: '';
      display: block;
      height: 5px;
      width: 130px;
    }
  }

  .description {
    display: block;
    text-align: center;
  }
}

.progress-bar li:last-of-type .label::after {
  display: none;
}
