
$grey-light: #e9ebec;
$grey-darker: #999898;
$blue: #4da8d4;
$blue-light: #e7f3f9;
$blue-medium: #008bc0;
$blue-darker:#0073ae;
$green-light: #bfddbf;
$green: #7ad07a;
$green-darker: #61b661;
$white: #fff;
$red: #cc4756;
