@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'partials/layout';
@import 'partials/local-variables';
@import 'partials/form';
@import 'partials/progressbar';
@import 'partials/admin';
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.4;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
